header{
  display: grid;
  grid-template-rows: 40px 40px 350px;
  grid-template-columns: 1fr;
  background-image: url("/images/championsfondo3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: 'Open Sans', sans-serif;

}

.logo img{
   width:20%;
   height: 40px%;
}

.subtitulo{
  display: grid;
  grid-template-rows: 1%;
  text-align:center;
}
.titulo{
  display: grid;
  text-align:center;

}
.barraNavegacion{
  display: grid;
 text-align: center;
 
}
ul{
  display: grid;
  grid-template-columns: 15% 15% 15% ;
  grid-template-rows: 100px;
  align-items: center;
  justify-content: center;
  list-style: none;
 
}
li{
  /*border: 2px solid rgba(0, 15, 84, 0.363); */
  margin: 2px;
  padding: 2px;
  display: grid;
  justify-content: center;
  align-items: center;
  /*background-color: #000f54;*/
  background: rgba(0, 15, 84, 0.808);
  text-decoration: none;
  color: white;

}
a{
  text-decoration: none;
}
main{
  background-color: #153679;
  font-family: 'Open Sans', sans-serif;
}
.ContenedorPrincipal{ 
  display: grid;
  height: 1300px;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 200px;
  margin-right: 200px;
  
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.Match{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid;
  text-align: center;
  margin-top: -1px;
}
.MatchImg{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
  padding-top: 40px;
}
.match p{
  padding: 50px;
}
button {
  border: none;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
footer{
  background-color: #153679
}
.info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.contact{
  color: white;
  text-align: center;
  margin: auto;
 }
.redes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.insta{
  color: white;
  text-align: center;
}
.facebook{
  color: white;
  text-align: center;
}