header{
  display: grid;
  grid-template-rows: 40px 40px 350px;
  grid-template-columns: 1fr;
  background-image: url("/images/europafondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: 'Open Sans', sans-serif;

}

.logo img{
   width:20%;
   height: 40px%;
}

.subtitulo{
  display: grid;
  grid-template-rows: 1%;
  text-align:center;
}
.titulo{
  display: grid;
  text-align:center;

}
.barraNavegacion{
  display: grid;
 text-align: center;
 
}
ul{
  display: grid;
  grid-template-columns: 15% 15% 15% ;
  grid-template-rows: 100px;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: white;
  text-decoraition: none;
 
}
li{
  /*border: 2px solid rgba(0, 15, 84, 0.363); */
  margin: 2px;
  padding: 2px;
  display: grid;
  justify-content: center;
  align-items: center;
  /*background-color: #000f54;*/
  background: rgba(0, 15, 84, 0.808);
  text-decoration: none;
  color: white;
}
main{
  background-color: orange;
  font-family: 'Open Sans', sans-serif;
}
.ContenedorPrincipal{ 
  display: grid;
  height: 1200px;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 200px;
  margin-right: 200px;
  border: 2px solid;
}
.Match{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid;
  text-align: center;
}
.MatchImg{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
  padding-top: 40px;
}
.Match p{
  padding-top: 100px
}
footer{
  background-color: black;
}
.info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.contact{
  color: white;
  text-align: center;
  margin: auto;
 }
.redes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.insta{
  color: white;
  text-align: center;
}
.facebook{
  color: white;
  text-align: center;
}