header{
  display: grid;
  grid-template-rows: 40px 40px 350px;
  background-image: url("/images/champions.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: 'Open Sans', sans-serif;

}

.logo img{
   width:20%;
   height: 40px%;
}

.subtitulo{
  display: grid;
  grid-template-rows: 1%;
  text-align:center;
}
.titulo{
  display: grid;
  text-align:center;

}
.barraNavegacion{
  display: grid;
 text-align: center;
 
}
ul{
  display: grid;
  grid-template-columns: 15% 15% 15% ;
  grid-template-rows: 100px;
  align-items: center;
  justify-content: center;
  list-style: none;
 
}
li{
  border: 2px solid whitesmoke; 
  justify-content: center;
  align-items: center;
  background-color: #000f54;
}

